.castBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #D2D4D6;
  margin-right: 10px;
  height: 80%;
  width: 75px;
  margin-bottom: 10px;
  border-radius: 7px;
}

.searchData {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.castSpace {
  width: 15px;
}

.castBar {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  background-color: rgb(169, 189, 207);
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0px 0px 15px 15px;
  padding: 0 10px 0 20px;
}

.castName {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 7px;
  width: 75px;
  margin: 0;
  height: 44px;
  text-align: center;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  color: black;
  background-color: #EDF1F4;
  border-radius: 0px 0px 7px 7px;
}

p.castName {
  line-height: 13px;
  padding-bottom: 3px;
}

.searchButton:hover {
  background: #ccc;
}

.castPic {
  margin-top: 5px;
  justify-self: center;
  border: #fff;
  border-radius: 5px;
  margin-bottom: 6px;
}

@media (max-width: 800px) {
  .castBar {
    width: 100%;
    padding: 0 5px 0 10px;
    justify-content: center;
    border-radius: 0px 0px 7px 7px;
    margin-bottom: 10px;
  }

  .castBoxes {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 42px;
    border-radius: 3px 3px 3px 3px;
  }

  .castPic {
    width: 30px;
    border-radius: 2.5px;
    margin-top: 2.5px;
    margin-bottom: 3px;
  }

  .castName {
    width: 42px;
    height: 23px;
    font-size: 6.5px;
    padding: 1px 3px;
    border-radius: 0 0 3px 3px;
  }

  p.castName {
    line-height: 6px;
    padding-bottom: 1px;
  }
}