.castBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #D2D4D6;
  margin-left: 5px;
  margin-right: 5px;
  height: 80%;
  width: 75px;
  margin-bottom: 10px;
  border-radius: 7px 7px 7px 7px;
}

.searchData {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.castSpace {
  width: 15px;
}

.castBar {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  background-color: rgb(169, 189, 207);
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0px 0px 15px 15px;
}

.castName {
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 7px;
  width: 75px;
  margin: 0;
  height: 44px;
  text-align: center;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  color: black;
  background-color: #EDF1F4;
  border-radius: 0px 0px 7px 7px;
}

p.castName {
  line-height: 13px;
  padding-bottom: 3px;
}

.searchButton:hover {
  background: #ccc;
}

.castPic {
  margin-top: 5px;
  margin-bottom: -7px;
  justify-self: center;
  border: #fff;
  border-radius: 5px;
  margin-bottom: 6px;
}

.App {
  text-align: center;
  background: #D7DEE4;
}

body {
  background-color: #D7DEE4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
