.dbgOuter {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.radioSettings {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.dbgCheck {
  position: absolute; 
  opacity: 0;
}
.dbgCheck + label {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  cursor: pointer;
  padding: 0;
  padding-left: 30px;
}

.dbgCheck + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}

.dbgCheck:hover + label:before {
  background: lightgray;
}

.dbgCheck:checked:hover + label:before {
  background: rgb(177, 177, 177);
}

.dbgCheck:checked + label:before {
  background: gray;
}
  
.checkBoxes {
  display: flex;
  flex-direction: row;
}

.line {
  border-left: 1px solid rgba(17,3,38,1);
  margin-left: 25px;
  color: black;
}

.dbgContColumn {
  display: flex;
  flex-direction: column;
}

.dbgContRows {
  display: flex;
  flex-direction: row;
}

.maxActorsLabel {
  font-family: 'Quicksand', sans-serif;;
}

.maxActorsBar {
  font-size: 18px;
  margin-left: 5px;
  height: 25px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(80, 80, 80);
  border: none;
  text-align: center;
  width: 135px;
}

.maxActors {
  display: flex;
  align-items: center;
}

.dbgCast {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.maxActorsLabel {
  margin-left: 30px
}

.showActors {
  display: flex;
  justify-content: flex-start;
}